.items {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.items__title {
    grid-column: span 12;
    padding: 2rem 0;
    text-align: center;
}

.items__waiting {
    grid-column: span 12;
    padding: 1rem;
    font-weight: 700;
    font-style: italic;
}

.items__empty {
    grid-column: span 12;
    text-align: center;
    font-weight: 700;
}

.items__list {
    grid-column: span 12;
    padding: 1rem;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
}

.item {
    grid-column: span 3;
    padding: 1rem;
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto auto 1fr auto;
    gap: 1rem;
    border: 1px solid lightblue;
    border-radius: 1px solid #343434;
    border-radius: 1rem;
    background-color: aliceblue;
}

.item:hover {
    transition: box-shadow 0.5s ease;
    box-shadow: 2px 2px 6px #292929;
}

@media (max-width: 54rem) {
    .item {
        grid-column: span 4;
    }
}